# Скомпилированные файлы
*.class

# Артефакты упаковки
*.jar
*.war
*.ear
*.nar

# Каталоги сборки
/target/  # Для Maven
build/     # Для Gradle

# Файлы Gradle
.gradle/

# Логи
*.log

# Файлы IDE (JetBrains IntelliJ IDEA)
.idea/
*.iml
*.iws
.classpath
.project
.settings/

# Системные и временные файлы
.DS_Store  # macOS
Thumbs.db  # Windows

# Временные файлы редакторов
*.swp
*.swo
